/Makefile
/Makefile.in
/.la
/.lo
/.deps
/.libs
/*.la
/*.lo
/*.pyc
/qa_specesti_esprit_armadillo.dat
/qa_specesti_esprit_fortran.dat
/qa_specesti_music_armadillo.dat
/qa_specesti_esprit_armadillo_bench.dat
/qa_specesti_esprit_fortran_bench.dat
/qa_specesti_music_armadillo_bench.dat
/specest.cc
/specest.py
/test_all
/test_all.o
